<a href="https://colab.research.google.com/github/Gopal-170/MACHINE-LEARNING/blob/main/pandas_tut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import pandas as pd
import sklearn

In [17]:
# importing boston dataset

from sklearn.datasets import fetch_openml
df = fetch_openml(name="california_housing", as_frame=True)

/usr/local/lib/python3.12/dist-packages/sklearn/datasets/_openml.py:323: UserWarning: Multiple active versions of the dataset matching the name california_housing exist. Versions may be fundamentally different, returning version 1. Available versions:
- version 1, status: active
  url: https://www.openml.org/search?type=data&id=43939
- version 7, status: active
  url: https://www.openml.org/search?type=data&id=44977

  warn(warning_msg)

In [18]:
print(df)

{'data':        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                  41          880           129.0
1        -122.22     37.86                  21         7099          1106.0
2        -122.24     37.85                  52         1467           190.0
3        -122.25     37.85                  52         1274           235.0
4        -122.25     37.85                  52         1627           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                  25         1665           374.0
20636    -121.21     39.49                  18          697           150.0
20637    -121.22     39.43                  17         2254           485.0
20638    -121.32     39.43                  18         1860           409.0
20639    -121.24     39.37                  16         2785           616.0

       population  households  median_income ocean_proximity
0             322         126         8.3252        NEAR BAY
1            2401        1138         8.3014        NEAR BAY
2             496         177         7.2574        NEAR BAY
3             558         219         5.6431        NEAR BAY
4             565         259         3.8462        NEAR BAY
...           ...         ...            ...             ...
20635         845         330         1.5603          INLAND
20636         356         114         2.5568          INLAND
20637        1007         433         1.7000          INLAND
20638         741         349         1.8672          INLAND
20639        1387         530         2.3886          INLAND

[20640 rows x 9 columns], 'target': 0        452600
1        358500
2        352100
3        341300
4        342200
          ...
20635     78100
20636     77100
20637     92300
20638     84700
20639     89400
Name: median_house_value, Length: 20640, dtype: int64, 'frame':        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                  41          880           129.0
1        -122.22     37.86                  21         7099          1106.0
2        -122.24     37.85                  52         1467           190.0
3        -122.25     37.85                  52         1274           235.0
4        -122.25     37.85                  52         1627           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                  25         1665           374.0
20636    -121.21     39.49                  18          697           150.0
20637    -121.22     39.43                  17         2254           485.0
20638    -121.32     39.43                  18         1860           409.0
20639    -121.24     39.37                  16         2785           616.0

       population  households  median_income  median_house_value  \
0             322         126         8.3252              452600
1            2401        1138         8.3014              358500
2             496         177         7.2574              352100
3             558         219         5.6431              341300
4             565         259         3.8462              342200
...           ...         ...            ...                 ...
20635         845         330         1.5603               78100
20636         356         114         2.5568               77100
20637        1007         433         1.7000               92300
20638         741         349         1.8672               84700
20639        1387         530         2.3886               89400

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns], 'categories': None, 'feature_names': ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'ocean_proximity'], 'target_names': ['median_house_value'], 'DESCR': 'Median house prices for California districts derived from the 1990 census.\n\nDownloaded from openml.org.', 'details': {'id': '43939', 'name': 'california_housing', 'version': '1', 'description_version': '1', 'format': 'ARFF', 'upload_date': '2022-06-06T11:27:34', 'licence': 'public', 'url': 'https://openml.org/data/v1/download/22102987/california_housing.arff', 'parquet_url': 'https://data.openml.org/datasets/0004/43939/dataset_43939.pq', 'file_id': '22102987', 'default_target_attribute': 'median_house_value', 'visibility': 'public', 'original_data_url': 'https://www.kaggle.com/datasets/camnugent/california-housing-prices', 'status': 'active', 'processing_date': '2022-06-06 11:28:03', 'md5_checksum': '38cc9f7060e510f2f9f8072e250c5c35'}, 'url': 'https://www.openml.org/d/43939'}

In [19]:
# will convert data into pandas dataframe
df = pd.DataFrame(df.data, columns=df.feature_names)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY

In [ ]:
# exporting dataframe in csv file

df.to_csv('california_housing.csv', index=False)

In [20]:
#  information about dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   ocean_proximity     20640 non-null  category
dtypes: category(1), float64(4), int64(4)
memory usage: 1.3 MB

In [21]:
# no missing vaues
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [28]:
# group the values based on mean

df.groupby(['households']).mean(numeric_only=True)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,median_income
households,,,,,,,
1,-122.500000,37.790000,52.000000,8.000000,1.000000,13.000000,15.000100
2,-118.093333,35.193333,13.666667,19.000000,3.666667,14.000000,2.875000
3,-117.717500,34.505000,27.000000,22.750000,5.000000,8.250000,1.811250
4,-120.222500,35.632500,21.000000,39.000000,5.500000,11.250000,6.751450
5,-120.127143,36.160000,36.285714,30.571429,5.571429,19.285714,4.308729
...,...,...,...,...,...,...,...
4930,-118.440000,33.980000,21.000000,18132.000000,5419.000000,7431.000000,5.335900
5050,-117.780000,34.030000,8.000000,32054.000000,5290.000000,15507.000000,6.019100
5189,-117.740000,33.890000,4.000000,37937.000000,5471.000000,16122.000000,7.494700
5358,-121.440000,38.430000,3.000000,39320.000000,6210.000000,16305.000000,4.951600
6082,-121.790000,36.640000,11.000000,32627.000000,6445.000000,28566.000000,2.308700

statical measurement

In [30]:
# count no of values

df.mean(numeric_only=True)

longitude             -119.569704
latitude                35.631861
housing_median_age      28.639486
total_rooms           2635.763081
total_bedrooms         537.870553
population            1425.476744
households             499.539680
median_income            3.870671
dtype: float64

In [31]:
# max value
df.max(numeric_only=True)

longitude              -114.3100
latitude                 41.9500
housing_median_age       52.0000
total_rooms           39320.0000
total_bedrooms         6445.0000
population            35682.0000
households             6082.0000
median_income            15.0001
dtype: float64

In [32]:
# all statical meanseumrent of dataframe
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100

Manuplating dataframe

In [33]:
# remove a row
df.drop(index=1, axis=0)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY
5,-122.25,37.85,52,919,213.0,413,193,4.0368,NEAR BAY
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,INLAND
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,INLAND
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,INLAND
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,INLAND
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,INLAND

In [34]:
df.drop(columns='housing_median_age', axis=1)

,longitude,latitude,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,880,129.0,322,126,8.3252,NEAR BAY
1,-122.22,37.86,7099,1106.0,2401,1138,8.3014,NEAR BAY
2,-122.24,37.85,1467,190.0,496,177,7.2574,NEAR BAY
3,-122.25,37.85,1274,235.0,558,219,5.6431,NEAR BAY
4,-122.25,37.85,1627,280.0,565,259,3.8462,NEAR BAY
...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,1665,374.0,845,330,1.5603,INLAND
20636,-121.21,39.49,697,150.0,356,114,2.5568,INLAND
20637,-121.22,39.43,2254,485.0,1007,433,1.7000,INLAND
20638,-121.32,39.43,1860,409.0,741,349,1.8672,INLAND
20639,-121.24,39.37,2785,616.0,1387,530,2.3886,INLAND

In [35]:
# locating a row using the index value
df.iloc[3]

longitude              -122.25
latitude                 37.85
housing_median_age          52
total_rooms               1274
total_bedrooms           235.0
population                 558
households                 219
median_income           5.6431
ocean_proximity       NEAR BAY
Name: 3, dtype: object

In [36]:
# locationg a particular column
df.iloc[:,0]

0       -122.23
1       -122.22
2       -122.24
3       -122.25
4       -122.25
          ...
20635   -121.09
20636   -121.21
20637   -121.22
20638   -121.32
20639   -121.24
Name: longitude, Length: 20640, dtype: float64

In [38]:
df.corr(numeric_only=True)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
longitude,1.000000,-0.924664,-0.108197,0.044568,0.069608,0.099773,0.055310,-0.015176
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.066983,-0.108785,-0.071035,-0.079809
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.320451,-0.296244,-0.302916,-0.119034
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.930380,0.857126,0.918484,0.198050
total_bedrooms,0.069608,-0.066983,-0.320451,0.930380,1.000000,0.877747,0.979728,-0.007723
population,0.099773,-0.108785,-0.296244,0.857126,0.877747,1.000000,0.907222,0.004834
households,0.055310,-0.071035,-0.302916,0.918484,0.979728,0.907222,1.000000,0.013033
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007723,0.004834,0.013033,1.000000